body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#task-form button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#task-form button:hover {
    background-color: #4cae4c;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

#task-list li:hover {
    transform: translateY(-2px);
}

#task-list li.completed {
    text-decoration: line-through;
    color: #999;
}

#task-list li span {
    cursor: pointer;
    flex-grow: 1;
}

.delete-btn {
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c9302c;
}

footer {
    background: var(--footer-background);
    color: #0ea5e9;
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    border-top: 5px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        height: auto; /* Permite que el contenido determine la altura */
        align-items: flex-start; /* Alinea el contenido al principio de la pantalla */
        padding: 20px; /* Añade espacio alrededor del cuerpo */
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 1.8em; /* Reduce el tamaño del título */
    }

    #task-form {
        flex-direction: column; /* Apila el input y el botón verticalmente */
    }

    #task-form button {
        margin-left: 0;
        margin-top: 10px; /* Añade espacio entre el input y el botón */
        width: 100%;
    }

    #task-list li {
        flex-direction: column; /* Apila los elementos de la lista verticalmente */
        align-items: flex-start;
        padding: 10px;
    }

    .delete-btn {
        margin-top: 10px; /* Añade espacio entre la tarea y el botón de eliminar */
        width: 100%;
    }
}
